@CHARSET "UTF-8";

@font-face {
  font-family: 'iconfont';  /* project id 298773 */
  src: url('http://at.alicdn.com/t/font_3m1bx0gclhyw4s4i.eot');
  src: url('http://at.alicdn.com/t/font_3m1bx0gclhyw4s4i.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_3m1bx0gclhyw4s4i.woff') format('woff'),
  url('http://at.alicdn.com/t/font_3m1bx0gclhyw4s4i.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_3m1bx0gclhyw4s4i.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:14px;
  font-weight:bold;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nav-list>li>a>.menu-icon {
    display: inline-block;
    min-width: 30px;
    margin-right: 2px;
    vertical-align: top;
    text-align: center;
    -webkit-text-size-adjust:none;
    font-size: 18px;
    font-weight: normal;
}
.btn-style{
	width:50px;
	height:40px;
}
.icon-comments:before { content: "\e69b"; }

.icon-process:before { content: "\e6ce"; }

.icon-zhanghaoguanli:before { content: "\e80a"; }

.icon-quyudingwei1:before { content: "\e632"; }

.icon-caidan:before { content: "\e621"; }

.icon-zidian:before { content: "\e6bf"; }

.icon-jiaoseguanli:before { content: "\e699"; }

.icon-vr:before { content: "\e685"; }

.icon-jigou:before { content: "\e61a"; }

.icon-yewuguanlirizhi:before { content: "\e810"; }

.icon-bianjiICONCopy:before { content: "\e61d"; }

 

.icon--1:before { content: "\e607"; }

.icon-icon-xitongguanli:before { content: "\e608"; }